html, body {
    margin: 0;
    box-sizing: border-box;
}

#hero h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 5rem;
}

.info-wrapper h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}