nav {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    background-color: #262626;
    color: white;
    display: flex;
    position: sticky;
    top:0;
    z-index: 3;
    padding: 1rem;
    box-sizing: border-box;
}

nav a {
    padding: 1rem 1rem;
    font-size: clamp(1rem, 5vw, 2rem);
    color: white;
}

nav a:visited {
    color: white;
}

nav img {
    height: 32px;
    padding-top: 1rem;
}

@media screen and (min-width: 1200px) {
    nav img {
        height: 64px;
        padding-top: .5rem;
    }
}